# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/temp
/foto
/venv
/data
/imagezmq-streaming
/__pycache__
*.dat
*.caffemodel
*.prototxt
*.xml
*.log
*.txt